body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.name {
    user-select: none;
}

.message {
    user-select: text;
}

.timestamp {
    user-select: none;
}

.container {
    user-select: none;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login {
    text-align: center;
}

#login input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat {
    text-align: center;
}

#messages {
    background-color: #eaeaea;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message {
    text-align: left;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    text-align: right;
}

#message-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button,
#login-button {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover,
#login-button:hover {
    background-color: #45a049;
}